In [9]:
n=int(input())
#for i in range(n):
if 2^i==n:
    print(True)
else:
    print(False)

 1

False

In [10]:
for i in range(1,5):
    for j in range(1,5):
        if j==3:
            break
        print(i,j)

1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2

In [11]:
c=0
while c<5:
    c+=1
    if c==3:
        break
    print(c)

1
2

encoded

In [18]:
encode=[1,2,3]
a=[1]
for i in encode:
    a.append(a[i-1]^i)
print(a)

[1, 0, 2, 1]

TUPLE

In [21]:
t=tuple(map(int,input().split()))
i = int(input())
new=t[:n]+t[n+1:]
print(new)

 1 2 3 4
 2

(1, 3, 4)

In [22]:
t=(1,2,3,4)
list=list(t)
list.remove(3)
t1=tuple(list)
print(t1)

(1, 2, 4)

In [26]:
t=(1,2,3,4,4,4,3,3,3)
c=0
for i in t:
    t.count(i)
    c+=1
if c>2:
    print(i,c)

3 9

SET
 >UNORDERD COLLECTION DATA TYPE
  > THERE IS NO INDEX:
> MODIFING THE SET USING INDEX IS NOT POSSIBLE
> USE DEL WORD
> CREATE A SET: USING TUPLE  LIST USING SET KEY WORD
> METHODS:
      > ADD:IT DOES IN RANDOM POSTION
      > UPDATE:a.update(b)
      > COPY
      > DEL
>REMOVE:>DISCARD:>POP
>UNION:COMBINING ALL ELEMENT( | )
>INTRERSECTION :COMMON ELEMENT ( & ) INTERSECTION UPDATE
>
>DIFFERENCE:( - )
>SYMATRIC DIFFERENCE: UNCOOMON ELEMENT ( ^ )
>SYMATRIC UPDATE
>SUM MAX MIN LEN
>ANY ALL SORT
>
FROZEN SET:
>SET ARE IMMUTABLE
>CREATED USING frozenset()

In [29]:

={s for s in [1,2,3,4] if s%2}
print(rs)

{1, 3}

In [ ]:
import operator
d={}
n=int(input("enetr a no.of"))
for i in range(n):

In [38]:
m={
    'sitha':95,
    'neha':88,
     'anvesh':67,
     'avinash':45,
    'manl':77,
    'bandi':10,
}
g={}
for s in m:
    marks=m[s]
    if marks>=80:
        g[s]='A'
       
    elif marks>=60:
        g[s]='B'
       
    else:
        g[s]='C'
print(g)

{'sitha': 'A', 'neha': 'A', 'anvesh': 'B', 'avinash': 'C', 'manl': 'B', 'bandi': 'C'}

In [2]:
n=[1,2,3,4,2,3,2,3,3]
c=0
for i in range(len(n)):
    n.count(i)
    c+=1
print(i)

8

In [2]:
nums = [1,2,3,1,1,3]
c=0
for i in range(len(nums)):
    for j in range(i+1,len(nums)):
        if nums[i]==nums[j]:
            nums[i]+=1
            c+=1
print(c)

3

In [5]:
n1 = [1,2,2,1] 
n2 = [2,2]
n3=[]
for i in n1:
    for j in n2:
        if n1[i]==n2[j]:
            n3.append(i)
            i+=1
            j+=1
print(n3)

IndexError: list index out of range

In [5]:
l=list(map(int,input().split()))
l.sort()
print(l)

 22 3 66 5

[3, 5, 22, 66]

In [4]:
l=list(map(str,input().split()))
print(l)

 a a a a

['a', 'a', 'a', 'a']

In [12]:
a = (7, 0, 8, 0, 0, 9) 
c=0
for i in a:
    for j in (i+1,a):
        if a[i]==a[i+1]:
            c+=1
            i+=1
print(max(i,c))

IndexError: tuple index out of range

In [ ]:
l1=[1,2,2]
l2=[3,3,5]